supportedArchitectures[cpu][]=x64
supportedArchitectures[cpu][]=wasm32
supportedArchitectures[os][]=linux
supportedArchitectures[os][]=wasi
supportedArchitectures[libc][]=glibc
supportedArchitectures[libc][]=unknown
